body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  background-color: rgb(44, 41, 38);
}
a {
  text-decoration: none;
}

#head-container {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(29, 26, 24);
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
}

#head-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#head-container li {
  margin: 0 1rem;
}

#head-container nav a {
  color: rgb(185, 131, 31);
  font-size: 1.25rem;
}
#head-container nav a:hover {
  color: rgb(228, 163, 44);
}

main h1 {
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 3rem;
}
.food-item h2 {
  padding: 0.3em;
  font-size: 2rem;
}

#prodects {
  width: 80%;
  margin: 2rem auto;
}
.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: white;
}
#prodects ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
#prodects li {
  list-style: none;
}

.food-item img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.food-item {
  background-color: rgb(228, 206, 182);
  border-radius: 6px;
  overflow: hidden;
}

.food-item-content {
  padding: 1rem;
  text-align: center;
}

.buy-links {
  background-color: rgb(228, 157, 44);
  padding: 8px 24px;
  color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 1px 2px rgb(44, 41, 38, 0.2);
}

.buy-link a:hover {
  background-color: rgb(221, 134, 34);
}
#aside-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27);
  /*position: fixed;
  top: 0;
  left: 0;
  */
  display: none;
}

#aside-drawer:target {
  display: block;
}

#aside-drawer ul {
  list-style: none;
  margin: 0;
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#aside-drawer li {
  margin: 1rem 0;
}

#aside-drawer a {
  color: rgb(253, 239, 231);
  font-size: 2rem;
}
@media (max-width: 48rem) {
  #head-container nav {
    display: none;
  }
  main h1 {
    font-size: 1.5rem;
  }
  #prodects ul {
    grid-template-columns: 1fr;
  }
}
